@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

body,
html {
  color: white;
  background: #000;
}
ul {
  padding: 0;
  list-style: none;
  display: table;
  width: 600px;
  text-align: center;
}
li {
  display: table-cell;
  position: relative;
  padding: 15px 0;
}
.icon {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;

  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
a:after {
  background: linear-gradient(to right, #8a2387, #e94057, #f27121);
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 100%;
  left: 0;
}
@media screen and (max-height: 300px) {
  ul {
    margin-top: 40px;
  }
}

// text
$duration: 2s;
$iterations: 1;
$animation-delay: 0s;

.reveal-text {
  margin-top: 20px;
  position: relative;
  font-size: 40px;
  user-select: none;
  animation: reveal-text $duration cubic-bezier(0, 0.1, 1, 0) $iterations $animation-delay both;
  color: #ffffff;
  white-space: nowrap;
  font-family: "Work Sans", sans-serif;

  &:after {
    content: "";
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    transform: scaleX(0);
    transform-origin: 0 50%;
    pointer-events: none;
    animation: revealer-text $duration cubic-bezier(0, 0.1, 1, 0) $iterations $animation-delay both;
  }
}

@keyframes reveal-text {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes revealer-text {
  0%,
  50% {
    transform-origin: 0 50%;
  }
  60%,
  100% {
    transform-origin: 100% 50%;
  }
  50% {
    transform: scaleX(1);
  }
  60% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
